// colors
$orange: #e45028;
$yellow: #f9b43b;
$black: #2f3234;
$red: #e35028;

//resolutions
$tablets: 768px;
$phones: 480px;


//normolize
@import "_misc/normalize.scss";

//media
@import "_misc/media";


//setup
@import "_misc/mixins";
@import "_misc/fonts";
@import "_misc/layout";


//common blocks
@import "blocks/common/btn";
@import "blocks/common/section-title";


//blocks
@import "blocks/hero";
@import "blocks/header";
@import "blocks/logo";
@import "blocks/nav";
@import "blocks/hamburger";
@import "blocks/go-down-btn.scss";
@import "blocks/best.scss";
@import "blocks/team.scss";
@import "blocks/reviews.scss";
@import "blocks/overlay.scss";
@import "blocks/order.scss";
@import "blocks/form.scss";
@import "blocks/burger.scss";
@import "blocks/composition.scss";
@import "blocks/menu.scss";
@import "blocks/map.scss";
@import "blocks/footer.scss";


//fixed menu
@import "blocks/fixed-menu.scss";



