.section-title {
	font-size: rem(72px);
	@include gagalin();

	&_color {
		&_black {
			color: $black;
		}

		&_yellow {
			color: $yellow;
		}

		&_white {
			color: white;
		}
	}

	&_align {
		&_center {
			text-align: center;
		}
	}
}