.accordion {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	display: flex; 
}

.accordion__list {
	display: flex; 
}

.accordion__trigger {
	height: 100%;
	width: rem(80px);
	display: flex;
	align-items: flex-end;	
	padding-bottom: rem(38px);
	cursor: pointer;
	background-size: cover;
}

.accordion__trigger-meat {
	background: url('../img/pic/menu-item1.jpg');

}

.accordion__trigger-vegan {
	background: url('../img/pic/menu-item2.jpg');
}

.accordion__trigger-diet {
	background: url('../img/pic/menu-item3.jpg');
}

.accordion__trigger-name {
	font-size: rem(40px);
	writing-mode: tb-rl;
	transform: rotate(180deg);
	color: white;
	@include gagalin();
	line-height: rem(80px);
}

.accordion__info {
	// display: none;
	// width: 0;
	// overflow: hidden;
	padding: rem(80px) rem(34px);
	background: rgba(#2f3234, .93);
}

.accordion__text {
	color: white;
	font-size: rem(14px);
}