.burger {
	background: url(../img/bg/gradient.jpg) no-repeat center center / cover;
}



.burger__pic {
	width: 505px;
	display: flex;
	align-items: center;
	position: relative;
}

.burger__img {
	width: 100%;	
}

.burger__kkal {
	position: absolute;
	font-size: rem(14px);
	color: rgba(white, .5);
	@include gagalin();
	text-align: center;
	left: rem(21px);
	bottom: rem(-44px);

	@include tablets {
		top: rem(-63px);
		left: auto;
		right: rem(12px);
	}

	@include phones {

	}

}

.burger__kkal-num {
	background: url(../img/icon/kkal.png) no-repeat center center;
	height: 60px;
	width: 60px;
	font-size: rem(20px);
	padding-top: rem(23px);
}

.burger__desc {
	width: 49%;

	@include tablets {
		width: 570px;
		text-align: center;
		display: flex;
		flex-flow: column;
		align-items: center;
		margin-top: 36px;
	}

	@include phones {

	}
}

.burger__title {
	line-height: rem(65px);
	margin-top: rem(-15px);

	@include tablets {
		width: 327px;
	}

	@include phones {

	}
}

.burger__text {
	color: white;
	font-size: rem(14px);
	line-height: rem(25px);
	margin-top: rem(38px);

	@include tablets {
		margin-top: rem(25px);
	}

	@include phones {

	}
}

.burger__offer {
	display: flex;

	@include tablets {
		margin-top: rem(20px);
	}

	@include phones {

	}
}

.burger__price {
	color: #e35028;
	font-size: rem(30px);
	@include gagalin();
}

.burger__number {
	font-size: rem(72px);
}

.burger__btn {
	margin-left: rem(26px);
	display: inline-block;
	height: rem(38px);
	margin-top: rem(50px);
}