.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header__btns {
	display: flex;
	align-items: center;
	@include ubuntu(medium);
}

.header__order-link {
	margin-left: rem(16px);
}